h1 Status
div.container.status
 div
  button.btn.pullRebase Pull Rebase
  button.btn.stashAndPull Stash And Pull Rebase
  div.message.hidden Loading...
 div
  h4 Commits behind:
   span.behindAheadNumber #{stats.behind || 'Not found'}
  h4 Commits ahead:
   span.behindAheadNumber #{stats.ahead  || 'Not found'}
 div
  h4 Staged Files:
  div.stagedFiles
   each stagedFileObject in status.staged
    div.stagedFile #{stagedFileObject.file}
  h4 Unstaged Files:
  div.unstagedFiles
   each unstagedFileObject in status.unstaged
    div.unstagedFile #{unstagedFileObject.file}
  h4 Untracked Files:
  div.untrackedFiles
   each untrackedFile in status.untracked
    div.untrackedFile #{untrackedFile}
script(type='text/javascript' src='/javascripts/status.js')